:root {
  font-size: 10px;
  --dark-gray: #222222;
  --brand-green: #00cc6d;
  --green: #00ff00;
  --brand-red: #fd4747;
  --bg-green: #f4fbf6;
  --bg-red: #fff0f0;
  --mid-gray: #8f8f8f;
  --near-dark: #515151;
  --line-gray: #f5f5f5;
  --light-gray: #c8c8c8;
  --bg-gray: #f6f6f6;
}

.left-column {
  background-color: var(--dark-gray);
  padding: 1rem 0rem;
  color: white;
  /* min-width: 24rem; */
  height: 100vh;
  position: relative;
  width: 18vw;
  position: fixed;
  left: 0;
  top: 0;
}

.left-column .cell {
  padding: 01.2rem 1rem;
  cursor: pointer;
}

.left-column .cell.main {
  font: 2.6rem "black";
  padding-left: 2rem;
  text-transform: uppercase;
}

.left-column .cell.regular {
  padding-left: 4rem;
  font: 1.6rem "regular";
  transition: 0.3s all ease-out;
  border-bottom: 1px solid var(--near-dark);
}

.left-column .cell.regular:hover {
  background-color: var(--near-dark);
}

.left-column .cell.active {
  background-color: var(--brand-green) !important;
}

.column-logo {
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 55%;
  padding-top: 100%;
  opacity: 0.3;
  margin: auto;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-out;
}

.column-logo:hover {
  opacity: 0.6;
}

.column-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.column-links a {
  color: white;
  margin-right: 2rem;
  transition: 0.3s all ease-out;
  font: 1.4rem "regular";
  opacity: 0.3;
}

.column-links a:hover {
  color: var(--brand-green);
  opacity: 1;
}
